*
{
  box-sizing: border-box;
}

html, body
{
  margin: 0px;
  padding: 0px;
  font-family: Arial sans-serif;
  color: #18217d;
  font-size: 15px;
}

:root
{
  --containerBackground: rgba(255, 255, 255, 0.1);
  --containerShadow: 0px 0px 20px rgb(200, 200, 200);
  --lightBgTextColor: #1a237e;
}

input:focus
{
  outline: none;
}

header, footer, main > div
{
  padding: 85px 0px;
}

/* h1, h2, h3
{
  text-align: center;
} */

p, h1
{
  margin-top: 0px;
}

h2
{
  font-size: 1.87em;
  color: var(--lightBgTextColor);
}

h3
{
  font-size: 1.53em;
  font-weight: normal;
  color: #19fdfb;
}

a, a:hover, a:visited
{
  color: inherit;
  text-decoration: none;
}

.flex-row
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.limitation
{
  width: 60%;
  height: 100%;
  margin: 0px auto;
}

header
{
  width: 100%;
  height: 848px;
  background-image: url("img/HeaderBG.png");
  padding-top: 25px !important;
  color: white;
}

header, footer, #services, #advantages
{
  background-size: 100% 100%;
}

header > .limitation
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* height: 90% !important; */
}

.logoImg
{
  width: 88px;
  height: 40px;
  background-image: url("img/logo.png");
  background-size: 100% 100%;
}

.logo .flex-row > p
{
  flex: 1 1 auto;
  text-align: right;
  padding-right: 40px;
  margin: 15px 0px 0px 0px;
}

.btn
{
  width: 160px;
  height: 50px;
  padding: 14px 0px;
  border-radius: 45px;
  background-size: 100% 100%;
  color: white;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  /* border: 2px solid red; */
  display: flex;
}

.btn > p
{
  margin: auto !important;
}

.lightBtn
{
  background-image: url("img/btnLight.png");
}

.darkBtn
{
  background-image: url("img/btnDark.png");
}

.lightBtnInverse
{
  background-image: url("img/btnLightInverse.png");
}

.darkBtnInverse
{
  background-image: url("img/btnDarkInverse.png");
}

.smallBtn
{
  height: 40px;
  width: 140px;
  padding: 8px 0px !important;
}

.logo nav ul
{
  padding: 0px;
  list-style-type: none;
  font-size: 1.2em;
}

#header-content
{
  width: 30%;
}

#header-content h1
{
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 0px;
}

#header-content h3
{
  margin-top: 0px;
  margin-bottom: 40px;
}

#headerMouseContainer
{
  width: 100%;
  height: 98px;
  text-align: center;
  display: flex;
}

#headerMouse
{
  display: inline-block;
  width: 93px;
  height: 98px;
  border-radius: 75px;
  background-image: url("img/mouse.png");
  background-repeat: no-repeat;
  background-color: rgba(40, 49, 134, 0.75);
  background-position: center;
  cursor: pointer;
  margin: auto;
}

#services
{
  width: 100%;
  height: 1400px;
  background-image: url("img/BGServices.png");
}

#solutionContainer
{
  width: 70%;
  margin: 0px auto;
}

#solutionContainer h2
{
  margin-bottom: 40px;
}

.container
{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  text-align: center;
}

.container > h2
{
  width: 100%;
}

.containerBlock
{
  height: 250px;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  font-size: 0.9em;
  margin-bottom: 20px;
  border-radius: 16px;
  font-weight: bold;
}

.containerBlock > img
{
  width: 80px;
  height: 90px;
  margin: 0px auto 30px auto;
}

.topicsContainer
{
  width: 180px;
  background-color: var(--containerBackground);
  box-shadow: var(--containerShadow);
  margin-bottom: 40px;
}

#servicesContainer
{
  width: 100%;
  background-color: var(--containerBackground);
  box-shadow: var(--containerShadow);
}

#servicesContainer h2
{
  margin-top: 20px;
}


#need
{
  width: 100%;
  height: 1740px;
  background-size: cover;
  background-image: url("img/BGNeed.png")
}

#need > .limitation
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 220px 0px 260px 0px;
}

#need .connectForm
{
  width: 85%;
  height: 200px;
  padding: 40px 40px 0px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 3px;
  margin: 0px auto;
  border-radius: 15px;
  color: var(--lightBgTextColor);
}

.connectForm .btn
{
  color: var(--lightBgTextColor);
}

.connectForm p, h2
{
  margin: 0px;
}

.connectForm h2
{
  text-align: center;
  margin-bottom: 15px !important;
}

.connectForm .flex-row > p:first-child
{
  width: 45%;
}

#needContent h1, #needContent h2, #needContent h3
{
  font-weight: normal;
}

#needContent, #needContent h2
{
  color: white;
}

#needContent h2
{
  font-size: 1.6em;
  margin-bottom: 20px;
}

#needContent h3
{
  margin-bottom: 10px;
}

#needContent p
{
  width: 78%;
  font-size: 1.15em;
  margin: 0px;
}

#needContent > p:last-child
{
  font-style: italic;
}

#advantages
{
  width: 100%;
  background-image: url("img/BGNews.png");
}

#advantages > .limitation
{
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

#advantagesBlock
{
  width: 70%;
  float: left;
}

#advantagesBlock .containerBlock
{
  height: 200px;
}

#advantages h2, #advantages h3
{
  text-align: center;
}

#advantagesBlock h3
{
  color: #1aacf4;
}

#contacts
{
  float: right;
  width: 23%;
}

.contactsBlock
{
  width: 100%;
  margin-top: 20px;
}

.contactsBlock span
{
  font-weight: bolder;
}

#contacts .containerBlock
{
  width: 90%;
  margin: 30px auto 0px auto;
  height: 200px;
}

#contacts .containerBlock h2
{
  font-size: 1.45em;
  margin-bottom: 8px;
}

#contacts .containerBlock input
{
  width: 100%;
  margin: 6px 0px;
  border-radius: 10px;
  border: 2px solid #565ca0;
  font-size: 1em;
  padding: 2px;
}

#contacts .containerBlock .btn
{
  margin: 15px auto 0px auto;
  color: inherit;
  width: 100%;
}

#news
{
  width: 100%;
}

#news h2
{
  margin: 70px 0px 50px 0px;
}

#newsContainer .containerBlock
{
  width: 270px;
  padding: 0px 0px 20px 0px;
  height: 400px;
}

#newsContainer .containerBlock:nth-child(1) .newsBG
{
  background-image: url("img/news1.png");
}

#newsContainer .containerBlock:nth-child(2) .newsBG
{
  background-image: url("img/news2.png");
}

#newsContainer .containerBlock:nth-child(3) .newsBG
{
  background-image: url("img/news3.png");
}

.newsBG
{
  width: 100%;
  height: 200px;
  background-size: 100% 100%;
}

.newsContent
{
  overflow-y: hidden;
  height: 145px;
  text-align: left;
  font-weight: normal;
  padding: 20px 40px 0px 40px;
}

.newsStatement
{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.newsStatement > p
{
  margin: auto 0px auto 0px;
  font-weight: normal;
}

.newsStatement .continue
{
  font-size: 1.25em;
  color: #00a2f3;
  cursor: pointer;
}

.newsStatement .postTime
{
  font-size: 0.9em;
  color: #909090;
}

footer
{
  width: 100%;
  height: 360px;
  background-image: url("img/BGFooter.png");
  padding: 215px 0px 12px 0px;
  color: white;
}

footer > .limitation
{
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

footer nav
{
  display: flex;
  flex-flow: row nowrap;
}

footer nav ul
{
  margin: auto 0px auto 45px;
  flex: 1 1 auto;
}

.copyright
{
  text-align: center;
  font-size: 0.9em;
}

@media (min-width: 1217px) and (max-width: 1359px)
{
  body
  {
    font-size: 13px;
  }

  .containerBlock
  {
    width: 180px;
  }

  .topicsContainer
  {
    width: 160px;
  }

  .newsBG
  {
    height: 160px;
  }

  #newsContainer .containerBlock
  {
    width: 240px;
    height: 360px;
  }
}

@media (min-width: 1067px) and (max-width: 1216px)
{
  body
  {
    font-size: 13px;
  }

  .containerBlock
  {
    width: 150px;
  }

  .topicsContainer
  {
    width: 130px;
  }

  .newsBG
  {
    height: 140px;
  }

  #newsContainer .containerBlock
  {
    width: 210px;
    height: 330px;
  }
}

@media (min-width: 917px) and (max-width: 1067px)
{
  body
  {
    font-size: 11px;
  }

  header
  {
    height: 680px;
  }

  #services
  {
    height: 1200px;
  }

  #need
  {
    height: 1500px;
  }

  .containerBlock
  {
    width: 135px;
    height: 212px;
  }

  .topicsContainer
  {
    width: 120px;
  }

  .newsBG
  {
    height: 120px;
  }

  #newsContainer .containerBlock
  {
    width: 180px;
    height: 300px;
  }
}

@media (min-width: 803px) and (max-width: 917px)
{
  body
  {
    font-size: 10px;
  }

  header
  {
    height: 630px;
  }

  #need
  {
    height: 1400px;
  }

  .containerBlock
  {
    width: 125px;
    height: 210px;
  }

  .topicsContainer
  {
    width: 110px;
  }

  .newsBG
  {
    height: 105px;
  }

  #newsContainer .containerBlock
  {
    width: 150px;
    height: 230px;
    padding: 0px;
  }

  .newsContent
  {
    padding: 20px 15px 0px 15px
  }

  .newsStatement
  {
    padding: 0px 15px 0px 15px;
  }

  footer
  {
    height: 300px;
  }
}

@media (min-width: 743px) and (max-width: 803px)
{
  body
  {
    font-size: 9px;
  }

  header
  {
    height: 600px;
  }

  #headerMouse
  {
    width: 50px;
    height: 50px;
  }

  .btn
  {
    width: 100px;
    height: 40px;
    padding: 0px !important;
  }

  #services
  {
    height: 1100px;
  }

  #need
  {
    height: 1300px;
  }

  #need .connectForm
  {
    height: 150px;
  }

  .containerBlock
  {
    width: 115px;
    height: 170px;
  }

  #advantagesBlock .containerBlock
  {
    height: 150px;
  }

  .containerBlock > img
  {
    width: 55px;
    height: 65px;
    margin: 0px auto 10px auto;
  }

  .topicsContainer
  {
    width: 100px;
  }

  .newsBG
  {
    height: 105px;
  }

  #newsContainer .containerBlock
  {
    width: 130px;
    height: 210px;
    padding: 0px;
  }

  .newsContent
  {
    padding: 17px 12px 0px 12px
  }

  .newsStatement
  {
    padding: 0px 12px 0px 12px;
  }

  footer
  {
    height: 200px;
    padding: 100px 0px 12px 0px;
  }
}

@media (min-width: 517px) and (max-width: 743px)
{
  body
  {
    font-size: 5px;
  }

  header
  {
    height: 400px;
  }

  .logoImg
  {
    width: 40px;
    height: 20px;
  }

  #headerMouse
  {
    width: 50px;
    height: 50px;
  }

  header, footer, main > div
  {
    padding: 40px 0px;
  }

  .btn
  {
    width: 80px;
    height: 30px;
    padding: 0px !important;
  }

  #services
  {
    height: 1000px;
  }

  #need
  {
    height: 900px;
  }

  #need .connectForm
  {
    height: 100px;
  }

  #need > .limitation
  {
    padding: 80px 0px 120px 0px;
  }

  .containerBlock
  {
    width: 90px;
    height: 120px;
  }

  #advantagesBlock .containerBlock
  {
    height: 120px;
  }

  .containerBlock > img
  {
    width: 45px;
    height: 55px;
    margin: 0px auto 5px auto;
  }

  .topicsContainer
  {
    width: 70px;
  }

  .newsBG
  {
    height: 90px;
  }

  #newsContainer .containerBlock
  {
    width: 100px;
    height: 180px;
    padding: 0px;
  }

  .newsContent
  {
    padding: 14px 10px 0px 10px
  }

  .newsStatement
  {
    padding: 0px 10px 0px 10px;
  }

  footer
  {
    height: 200px;
    padding: 100px 0px 12px 0px;
  }
}

@media (min-width: 400px) and (max-width: 517px)
{
  body
  {
    font-size: 4px;
  }

  header
  {
    height: 400px;
  }

  .logoImg
  {
    width: 40px;
    height: 20px;
  }

  #headerMouse
  {
    width: 50px;
    height: 50px;
  }

  header, footer, main > div
  {
    padding: 40px 0px;
  }

  .btn
  {
    width: 50px;
    height: 20px;
    padding: 0px !important;
  }

  #services
  {
    height: 800px;
  }

  #need
  {
    height: 900px;
  }

  #need .connectForm
  {
    height: 70px;
    padding: 10px 0px;
  }

  #need > .limitation
  {
    padding: 80px 0px 120px 0px;
  }

  .containerBlock
  {
    width: 70px;
    height: 90px;
  }

  #advantagesBlock .containerBlock
  {
    height: 100px;
  }

  #contacts img
  {
    width: 8px;
    height: 4px;
  }

  #contacts .containerBlock
  {
    width: 50px;
    height: 130px;
  }

  .containerBlock > img
  {
    width: 10px;
    height: 20px;
    margin: 0px auto 5px auto;
  }

  .topicsContainer
  {
    width: 50px;
  }

  .newsBG
  {
    height: 70px;
  }

  #newsContainer .containerBlock
  {
    width: 80px;
    height: 160px;
    padding: 0px;
  }

  .newsContent
  {
    height: 40px;
    padding: 10px 7px 0px 7px;
  }

  .newsStatement
  {
    padding: 0px 7px 0px 7px;
  }

  footer
  {
    height: 150px;
    padding: 60px 0px 12px 0px;
  }
}

@media (min-width: 300px) and (max-width: 400px)
{
  body
  {
    font-size: 4px;
  }

  header
  {
    height: 400px;
  }

  .logoImg
  {
    width: 40px;
    height: 20px;
  }

  #headerMouse
  {
    width: 50px;
    height: 50px;
  }

  header, footer, main > div
  {
    padding: 40px 0px;
  }

  .btn
  {
    width: 50px;
    height: 20px;
    padding: 0px !important;
  }

  #services
  {
    height: 800px;
  }

  #need
  {
    height: 900px;
  }

  #need .connectForm
  {
    height: 70px;
    padding: 10px 0px;
  }

  #need > .limitation
  {
    padding: 80px 0px 120px 0px;
  }

  .containerBlock
  {
    width: 70px;
    height: 90px;
  }

  #advantagesBlock .containerBlock
  {
    height: 100px;
  }

  #contacts img
  {
    width: 8px;
    height: 4px;
  }

  #contacts .containerBlock
  {
    width: 50px;
    height: 130px;
  }

  .containerBlock > img
  {
    width: 10px;
    height: 20px;
    margin: 0px auto 5px auto;
  }

  .topicsContainer
  {
    width: 50px;
  }

  .newsBG
  {
    height: 70px;
  }

  #newsContainer .containerBlock
  {
    width: 80px;
    height: 160px;
    padding: 0px;
  }

  .newsContent
  {
    height: 40px;
    padding: 10px 7px 0px 7px;
  }

  .newsStatement
  {
    padding: 0px 7px 0px 7px;
  }

  footer
  {
    height: 150px;
    padding: 60px 0px 12px 0px;
  }
}
